@model AplicacionWebColegio.Data.Models.Estudiante

@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Title </h2>

<h3 class="h3" style="color:red">¿Estás seguro que quieres eliminar este Estudiante?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaMatriculacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMatriculacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>




    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-success" })
        </div>
    <div>

    </div>
    }
</div>
