<div class="navbar-collapse collapse navbar-right">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Nosotros", "About", "Home")</li>
        <li>@Html.ActionLink("Contactanos", "Contact", "Home")</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Procesos <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Estudiantes", "Index", "Estudiantes")</li>
                <li>@Html.ActionLink("Profesores", "Index", "Profesores")</li>
                <li>@Html.ActionLink("Materias", "Index", "Materias")</li>
                <li>@Html.ActionLink("Secciones", "Index", "Secciones")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
            </ul>
        </li>
    </ul>
    <p class="nav navbar-text navbar-collapse collapse navbar-right">Bienvenido, @User.Identity.Name</p>
</div>
