@model AplicacionWebColegio.Data.Models.Profesor

@{
    ViewBag.Title = "Registrar Profesor";
    ViewBag.PanelTitle = "Profesor";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-body">
        <div class="form-horizontal">
            @Html.Partial("_CreatingEditing")
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default " })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
