@model AplicacionWebColegio.Data.Models.Seccion

@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Title</h2>

<h3 class="h3" style="color:red">¿Estás seguro que quieres eliminar esta Seccion?</h3>
<div>
    <h4>Seccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Materia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximoEstudiantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximoEstudiantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-success" })
        </div>
    }""
</div>
